@{
    ViewBag.Title = "Contact Us";
}
<h1>Name: Bob the business owner</h1>
<h2>Phone: 402-999-9992</h2>
<h2>Email: GetAholdOfBob@emailbob.com</h2>
<br /><br />
<h3>If you have any questions regarding our business or products, feel free to contact Bob using the information above. We will try to respond within 24 business hours.</h3>