@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="jumbotron">
    <h2>Starcity Jewelry</h2>
    <h3>2019</h3>
</div>