
@{
    ViewBag.Title = "Shopping_Cart";
}

<h1>Shopping Cart</h1>
<h2>Items</h2>
@*
    @foreach(item in Cart)
    {
        Total up the prices
        List each item and some of its attributes
    }
*@

<h2>Price</h2>

@*
    Display the price before and after taxes
    Display the tax and shipping costs
*@
