
@{
    ViewBag.Title = "Store";
}

<h2>This is where all products from the catalogue will be displayed</h2>

@* We can use this razor syntax to dynamically build the store items.
    @foreach(Product in allProducts)
    {

    }
*@