@using ASPGroupProject.Models

@{
    var StuffList = ViewBag.message;
}


<div class="card-deck">
        @foreach (var product in StuffList)
        {
            <div class="card mb-3" style="min-width: 200px; max-width: 250px; ">
                <div class="card-header">
                    <h4 class="card-title">@product.Name</h4>
                </div>
                <img class="card-img-top" src="..@(product.Image)_Main.jpg"  style="max-height: 200px;"/>
                
                <div class="card-body">
                    <p class="card-text">
                        @product.Description
                    </p>
                </div>
                <div class="card-footer">
                    <p> @product.Price.ToString("c")</p>
                </div>
            </div>
        }
    </div>