@using ASPGroupProject.Models
@model List<ASPGroupProject.Models.Product>

@{
    ViewBag.Title = "Store";
}

<h2>This is where all products from the catalogue will be displayed</h2>


@foreach (var item in Model)
{
    <div class="card border-primary mb-5">
        <div class="card-header">
            <h4 class="card-title">@Html.DisplayFor(modelItem=>item.Name)</h4>
        </div>
        <div class="card-body">
            <img src="@Html.DisplayFor(modelItem=>item.Image)" />
            <p class="card-text">
                @Html.DisplayFor(modelItem=>item.Description)
                <br>
                Price - @Html.DisplayFor(modelItem=>item.Price)
            </p>
        </div>
    </div>
}