@model IEnumerable<ASPGroupProject.Models.Product>

@{
    ViewBag.Title = "Store";
}

<h2>This is where all products from the catalogue will be displayed</h2>

    @foreach(var product in Model)
    {
        <div class="card border-primary mb-5">
            <div class="card-header">
                <h4 class="card-title">@Html.DisplayFor(modelItem=>product.ProductName)</h4>
            </div>
            <div class="card-body">
                <img src=".@Html.DisplayFor(modelItem=>product.ProductImagePath)" />
                <p class="card-text">
                    @Html.DisplayFor(modelItem=>product.ProductDescription)
                    <br>
                    @Html.DisplayFor(modelItem=>product.ProductPrice)
                </p>
            </div>
        </div>
    }
