@using ASPGroupProject.Models

@{
    var StuffList = ViewBag.message;
}

<h2>This is where all products from the catalogue will be displayed</h2>


@foreach (var product in StuffList)
{
    <div class="card">
        <img class="card-img-top product-thumbnail" src="..@(product.Image)_Main.jpg" />
        <div class="card-header">
            <h4 class="card-title">@product.Name</h4>
        </div>
        <div class="card-body">
            <p class="card-text">
                @product.Description
                <br>
                Price - @product.Price
            </p>
        </div>
    </div>
}