@using ASPGroupProject.Models
@model List<ASPGroupProject.Models.Product>

@{
    ViewBag.Title = "Store";
}

<h2>This is where all products from the catalogue will be displayed</h2>


@foreach (Product product in Model)
{
    <div>
        <div class="card-header">
            <h4 class="card-title">product.ProductName</h4>
        </div>
        <div>
            <img src="product.ProductImagePath" />
            <p>
                product.ProductDescription
                <br>
                Price - product.ProductPrice
            </p>
        </div>
    </div>
}
