@using ASPGroupProject.Models
@model ASPGroupProject.Models.Product
@{
    ViewBag.Title = "Product_View";
}

<h1>@Model.Name</h1>
<img src="@Model.Image" />
<br />
<br />
<h2>Description</h2>
<h3>@Model.Description</h3>

<h3>Price - @Model.Price</h3>

@using (Html.BeginForm("add_to_cart", "Product"))
{
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Buy" />
    </div>
}
